/**
 * Page wide settings
 */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Cutive+Mono|Roboto|Fira+Mono|Overpass+Mono');

body {
  font-family: 'Source Code Pro', 'Overpass Mono', 'Fira Mono', 'Cutive Mono', 'Roboto', monospace;
  color: #000000;
  font-size: 100%;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #29487d;
}

a:link {
  /*color: #0755d7;*/
  color:#29487d;
  text-decoration: underline;
}

a:visited {
  /*color: #0755d7;*/
  color:#29487d;
  text-decoration: underline;
}

a:hover {
  color: #032a6b;
  text-decoration: underline;
}

a:active {
  /*color: #ff0000;*/
  color: #29487d;
  text-decoration: underline;
}

a img {
  border: none;
}

/**
 * Header
 */
.header > div {
  margin-top:15px;
  border-bottom: 2px solid #29487d;
}

/**
 * Site Titles
 */

h1#site-title {
  font-size: 180%;
  color: #29487d;
}

h1#site-title a {
  /*    color: black;*/
  color: #29487d;
  text-decoration: none;
}

h3#site-subtitle {
  /*padding: 20px 0 0 280px;*/
  font-size: 90%;
  /*    min-height: 60px;
  height: auto !important;
  height: 60px;*/
  font-weight: bold;
  color: #29487d;
}


/**
 * Site Menu
 */
div.menu {
  text-align: right;
  font-size:115%;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.menu {
  display: inline;
}

li.selected a.selected {
  text-decoration: none;
}

/**
 * Jumbotron
 */
.jumbotron {
  background-color: #ffffff;
}

.jumbotron h2 {
  font-size:2.3rem !important;
}

.jumbotron {
  padding-top: 1.5rem !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

/**
 * Pages
 */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 0.2em;
}

/**
 * Post Listing
 */
.post-listing > ul {
  list-style-type: none;
  padding: 0;
}

.post-listing > li {
  margin-top: 0.2em;
}

/**
 * Sidebar
 */
.sidebar div {
  padding: 20px 0 20px 0;
}

/**
 * Posts
 */
h2#post-title {
  margin: 0 0 0 0;
  padding: 20px 0 20px 0;
  font-size: 2.5rem;
  color: #29487d;
}

h2#post-title a {
  /*    color: black;*/
  color: #29487d;
  text-decoration: none;
}

/**
 * Footer
 */
footer > div {
  border-top: 1px solid rgba(0,0,0,.1);
  padding-top: 20px;
}
