<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ SITEURL
                                                 }}/theme/css/style.css"/>
    {% block meta %}
    <meta property="og:title" content="{% if page %}{{ page.title }} | {% endif %}Mosab Ibrahim"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{% if page %}{{ page.url }}{% else
                                        %}https://mosab.co.uk{% endif %}"/>
    <meta property="og:description"
          content="A passionate self-taught software engineer, a father to two lovely kids, a
          husband to an amazing wife, supposedly a geek, a caffeine junkie, a food lover, an open
          source/free software believer, and in a love/hate relationship with running. Originally
          from Cairo, Egypt. Currently living in the United Kingdom."/>
    <meta property="og:image" content="{{ SITE_URL }}/theme/images/mosab.png"/>
    <meta property="fb:app_id" content="153545408690727"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock meta %}


    <link rel="shortcut icon" type="image/png" href="{{ SITEURL }}/theme/favicon.ico"/>


    {% endblock head %}
  </head>

  <body>
    <div class="container-fluid">

    <!-- Header -->
    <header>
      <div class="header">
        <div id="header" class="container">
          <div class="row">
            <!-- Site Title -->
            <div class="col-md-5">
              <h1 id="site-title"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
              <h3 id="site-subtitle">
                {{ SITESUBTITLE }}
              </h3>
            </div>

            <!-- Site Menu -->
            <div class="col-md-7 menu">
              <!-- menu displayed on large screen sizes -->
              <ul class="menu d-none d-md-block">
                <li class="menu">
                  <a href="{{ SITEURL }}/">Home</a> /
                </li>

                <li class="menu">
                  <a href="{{ SITEURL }}/archives.html">Blog</a> /
                </li>

                <li class="menu">
                  <a href="{{ SITEURL }}/pages/projects.html">Projects</a> /
                </li>

                <li class="menu">
                  <a href="{{ SITEURL }}/pages/resume.html">Resume</a> /
                </li>
                <li class="menu">
                  <a href="{{ SITEURL }}/pages/about.html">About</a> /
                </li>
                <li class="menu">
                  <a href="{{ SITEURL }}/pages/contact.html">Contact</a>
                </li>
                {% for p in pages %}
                <!--<li class="menu{% if p == page %} selected{% endif %}">
                <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                {% if not loop.last %}
                /
                {% endif %}
                </li>-->
                {% endfor %}
              </ul>

              <!-- menu displayed on small screen sizes -->
              <ul class="menu d-md-none text-center">
                <li class="menu d-block">
                  <a href="{{ SITEURL }}/">Home</a>
                </li>

                <li class="menu d-block">
                  <a href="{{ SITEURL }}/archives.html">Blog</a>
                </li>

                <li class="menu d-block">
                  <a href="{{ SITEURL }}/pages/projects.html">Projects</a>
                </li>

                <li class="menu d-block">
                  <a href="{{ SITEURL }}/pages/resume.html">Resume</a>
                </li>
                <li class="menu d-block">
                  <a href="{{ SITEURL }}/pages/about.html">About</a>
                </li>
                <li class="menu d-block">
                  <a href="{{ SITEURL }}/pages/contact.html">Contact</a>
                </li>
                {% for p in pages %}
                <!--<li class="menu d-block{% if p == page %} selected{% endif %}">
                <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                {% if not loop.last %}
                /
                {% endif %}
                </li>-->
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Content -->
    <main role="main">
      {% block content %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="container">
      <div class="row">
            <div class="col-8">
              © 1986 - 2020
              |
              <a href="https://twitter.com/mos3abof"><img
                                src="{{ SITEURL }}/theme/images/twitter-logo.png"
                                     style="width:30px;"/>@mos3abof</a>
              <br>
            </div>
            <div class="col-4" style="text-align:right;">

              <p>
              <a href="http://www.catb.org/hacker-emblem/"><img src="{{ SITEURL }}/theme/images/glider.png" alt="hacker
                                                                      emblem" title="hacker emblem" style="display:inline;"></a>

              <a href="https://www.debian.org"><img src="{{ SITEURL }}/theme/images/debian-logo.png" alt="Debian logo" title="Debian logo" style="display:inline;"></a>
              </p>
            </div>
          </div>
    </footer>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="./js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{{ SITEURL }}/theme/js/popper.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>

  </body>
</html>
